@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.visibility-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

header {
    background: #323232;
    height: 63px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

footer {
    background: #323232;
    overflow: hidden;
}

aside {
    background: #2eb398;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-family: 'Maven Pro', Arial, sans-serif;
    font-weight: 400;
    font-size: 30pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
}

h3 {
    font-family: 'Maven Pro', Arial, sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
}

.header-left {
    width: 45%;
    float: left;
    text-align: right
}

.header-center {
    width: 10%;
    float: left;
}

.header-right {
    width: 45%;
    float: left;
}

.menu {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 200;
    list-style: none;
}

ul.menu li:before {
    color: #fff
}

.header-arrow {
    margin: 10px 37px -25px 37px;
    display: inline-block;
    vertical-align: bottom;
    z-index: 109;
}

.menu li {
    text-transform: uppercase;
    font-size: 7.21379pt;

    text-align: justify;
    float: left;
    margin: 32px 16px 0px 16px;

}

.menu a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
}

.menu a:hover {
    color: rgba(46, 179, 152, 255);
    transition: color 0.2s ease-in;
}

li>.active {
    color: rgba(46, 179, 152, 255);
}

ul.menu li::before {

    content: "\2022";
    color: #474c5f;
    font-weight: lighter;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
    font-family: Arial, sans-serif;

}

.hexagon {
    width: 182px;
    height: 209px;
    margin: 9px;
    transform: rotate(120deg);
    visibility: hidden;
    overflow: hidden;
    display: inline-block;
    transition: transform 1s ease-in;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    visibility: hidden;
    overflow: hidden;

}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc;

    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotate(-60deg);
    visibility: visible;
    overflow: hidden;
    background-size: 100%;
}

.hex-1 {
    background-image: url('/assets/images/hex-1.png');
}

.hex-2 {
    background-image: url('/assets/images/hex-2.png');
}

.hex-3 {
    background-image: url('/assets/images/hex-3.png');
}

.hex-4 {
    background-image: url('/assets/images/hex-4.png');
}

.hex-5 {
    background-image: url('/assets/images/hex-5.png');
}

.hex-6 {
    background-image: url('/assets/images/hex-6.png');
}

.hex-7 {
    background-image: url('/assets/images/hex-7.png');
}

.hex-8 {
    background-image: url('/assets/images/hex-8.png');
}

.hex-9 {
    background-image: url('/assets/images/hex-9.png');
}

.hex-10 {
    background-image: url('/assets/images/hex-10.png');
}

.hex-11 {
    background-image: url('/assets/images/hex-11.png');
}

.hex-12 {
    background-image: url('/assets/images/hex-12.png');
}

.hex-13 {
    background-image: url('/assets/images/hex-13.png');
}

.author {
    background-image: url('/assets/images/author.png');
    background-size: cover;
}

.author-hex:hover {
    transition: none !important;
    ;
}

.hexagon:hover {
    transform: rotate(-240deg);
    transition: transform 1s ease-in;


}

.hex-arrow {
    z-index: 90;
    top: -117px;
    display: block;
    position: fixed;
    margin-left: 50%;
}

.header-arrow {
    z-index: 130;
    position: relative;
}

.ml-50perc {
    margin-left: -50%
}

.row,
.row-slim {
    text-align: center
}

.row {
    margin-top: 132px;

    position: relative;
}

.row-slim {
    top: -56px;
    position: relative
}

hr {

    margin: 0 30px;
    background: #e4e9eb;
    height: 1px;
    border: 0;

}

.about {
    margin: 12px 100px 0px 100px;
    padding: 67px 0;
    overflow: hidden;
}

.about-borders {

    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    overflow: hidden;
}

.author-hex {

    float: left;
    margin: 0px 20px 55px 20px;
    transition: none !important;

}

.about p {
    margin-right: 20px;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
}

.about h2 {

    margin-bottom: 2px;
    margin-top: 0;
}

.about h3 {

    margin-top: 0;
    margin-bottom: 19px;
}

.social-icons {
    list-style: none;
    margin-right: 20px;
    float: right
}

ul.social-icons li {

    width: 25px;

    height: 25px;

    float: left;
}

.social-icons a {
    margin-top: 4px;

    display: inline-block;
    color: #2eb398;
}

.social-1 {
    background: #a4dbd4;
}

.social-2 {
    background: #6ccbbe;
}

.social-3 {
    background: #7fd0c5;
}

.social-4 {
    background: #a4dbd4;
}

.social-5 {
    background: #a4dbd4;
}

.social-6 {
    background: #6dcbbe;
}

.social-1:hover,
.social-2:hover,
.social-3:hover,
.social-4:hover,
.social-5:hover,
.social-6:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.footer-content {
    margin-left: 120px;
    margin-top: 67px;
    overflow: hidden;

}

footer h2 {
    color: rgba(224, 224, 224, 255);
    margin-top: 0;
    margin-bottom: 0
}

footer h3 {
    color: rgba(190, 190, 190, 255);
    margin-top: 0;
    margin-bottom: 22px
}

.footer-left {
    width: 65%;
    float: left;
}

.footer-right {
    width: 35%;
    float: left;
}

footer p {
    font-family: 'Lato', Arial, sans-serif;

    font-size: 12pt;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
    margin: 98px 120px 0px 20px;
    line-height: 2;
}

input {
    font-size: 12pt;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    padding: 13px 0 13px 15px;
    background: #454545;
    color: #bebebe;
    border: 0;
    width: 98%;
    margin-bottom: 16px
}

textarea {
    font-size: 12pt;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    padding: 13px 0 13px 15px;
    background: #454545;
    color: #bebebe;
    border: 0;
    width: 98%;
    margin-bottom: 20px
}

fieldset {
    border: 0;
}

.submit {
    text-transform: uppercase;
    float: right;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    padding: 14px 30px;
    font-size: 12pt;
    color: rgba(215, 252, 245, 255);
    border: 0;
    background: #2eb398
}

.contacts,
.contacts a {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12pt;
    color: rgba(190, 190, 190, 255);
    text-decoration: none
}

i {

    width: 12px;

}

ul.contacts {
    list-style: none;
    line-height: 2;
    font-weight: bold;
}

.contacts-icon {
    color: #2eb398;
    margin-right: 10px
}

.copyright {
    background: #222;
    height: 43px
}

.copyright p {
    font-family: 'Maven Pro', Arial, sans-serif;
    font-weight: 400;
    font-size: 8.65655pt;
    color: rgba(69, 69, 69, 255);
    text-align: justify;
    padding: 16px 0 15px 39px;
    margin: 81px 0 0 0;
}
